github-crawler:

  githubConfig:
    url: https://api.github.com
    oauthToken: "lihwlfhlihvliwh;wjg;"
    organizationName: MyOrg
    crawlUsersRepoInsteadOfOrgasRepos: false

  publishExcludedRepositories: false
  crawl-in-parallel: false
  crawlAllBranches: false

  outputs:
    searchPatternInCodeCsvFileOutput.searchNameToOutput: "consulCatalogWatch"

  indicatorsToFetchByFile:
    "[pom.xml]":
    - name: spring_boot_starter_parent_version
      method: findDependencyVersionInXml
      params:
        artifactId: spring-boot-starter-parent

  miscRepositoryTasks:
    - name: "consulCatalogWatch"
      type: "pathsForHitsOnRepoSearch"
      params:
        queryString: "ConsulCatalogWatch"

logging:
  level:
    com.societegenerale.githubcrawler: info
    com.societegenerale.githubcrawler.remote: info
    com.societegenerale.githubcrawler.parsers: info

